

.container {
  max-width: 600px;
  margin: 0 auto;
}

body{
  background-color: black;
}
.App{
  text-align: center;
}

.box {
  text-align: center;
  padding: 20px;
  border: 1px solid white;
  margin: 10px;
  
}

.name {
  color: #722F37; 
  transition: color 0.3s ease-in-out;
}

.GradeSect {
  color: #722F37; 
  transition: color 0.3s ease-in-out;
}

.title {
  color:#722F37; 
  font-style: italic;
  transition: color 0.3s ease-in-out, font-style 0.3s ease-in-out;
}



.name:hover,
.GradeSect:hover,
.title:hover {
  color:red; 
}

.title:hover {
  font-style: normal; 
}
